@model IEnumerable<WebApplication5.EDITEUR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<input type="TEXT" name="txtRecherche" id="txtRecherche" value="" />
<input type="button" name="btnRecherche" id="btnRecherche" value="Chercher" />

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-6" id="lstEditeurs">
 
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NOMED)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ADRED)
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="idEditeur" style="cursor:pointer;text-decoration:underline;" v="@Html.DisplayFor(modelItem => item.NOMED)">
                            @Html.DisplayFor(modelItem => item.NOMED)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ADRED)
                        </td>

                    </tr>
                }

            </table>
     
    </div>
    <div class="col-md-6" id="lstOuvrages">

    </div>




</div>

@section Scripts {

    <script type = "text/javascript" >

        $('document').ready(function () {
            $("#btnRecherche").click(function () {
                Data = "mot=" + $("#txtRecherche").val();

                $.ajax({
                    type: "POST",
                    url: "/Editeurs/getListe",
                    data: Data,

                    success: function (response) {
                        $("#lstEditeurs").html(response);
                    }

                });
            });


            $(".idEditeur").click(function () {
                var v = $(this).attr("v");


                Data = "nomed=" + v;

                $.ajax({
                    type: "POST",
                    url: "/Ouvrages/getListeByEditeur",
                    data: Data,

                    success: function (response) {
                        $("#lstOuvrages").html(response);
                    }

                });


            })


        })
  

   </script>


}
